@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: "Roboto","Ubuntu";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --basecolor:rgb(194,60,59);
    --hovercolor:rgb(161, 41, 41);
    --contrastcolor:rgb(108, 228, 144);
}
body{
    font-weight: 350;
    font-size: 1.05rem;
    line-height:1.06;
}
/* */
.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.06rem;
}
.title,.subtitle{
    font-size: 1.6rem;
    margin-bottom: 0.85rem;

}
/* */
.container{
    min-height: 100vh;
}
.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.meal-title{
    margin: 2rem 0;
}
.meal-title cite{
    font-size: 0.85rem;
}
.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}
.search-control,.searchBtn{
    width: 100%;
}
.search-control{
    padding: 0 1rem;
    font-size: 1.05rem;
    font-family: inherit;
    outline: 0;
    border:2px solid var(--basecolor);
    color: var(--basecolor);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.search-control::placeholder{
    color:var(--basecolor) ;
}
.searchBtn{
    width: 55px;
    height: 42px;
    font-size: 1.5rem;
    background: var(--basecolor);
    color: white;
    border: none;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: all 0.4s linear;
    -webkit-transition: linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.searchBtn:hover{
    background:var(--hovercolor);
}
.meal-search-result{
    margin-top: 4rem;
}
.meal-item{
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}
#image{
    width: 100%;
    display: block;
}
#name{
    margin: 0;
    padding: 1.6rem 0.5rem;
    font-size: 1.4rem;
}
#meals{
    margin: 2.4rem 0;
}
.recipeBtn{
   
    text-decoration: none;
    color: white;
    background: var(--basecolor) ;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
   margin: 1rem auto;
   border-radius: 2rem;
   transition:all 0.4s linear;
}
.recipeBtn:hover{
    background:  var(--hovercolor);
}
@media screen and (min-width:600px) {
    .meal-search-box{
        width:542px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width:768px) {
    #meals{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:2rem;
    }
    .meal-item{
        margin: 0;
    }
}
@media screen and (min-width:892px) {
    #meals{
     grid-template-columns: repeat(3,1fr);
    }
    .meal-details{
        max-width: 600px;
    }
}

/* meal details*/
.meal-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    background: var(--basecolor);
    
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;/* cambio con javascript esto*/
    /* DISEÑO SCROLLBAR : Firefox */
    scrollbar-width: none; /* lo pongo en none porque sino me hace cuadradas las esquinas*/
    scrollbar-color: white var(--basecolor);
    /* eso es todo el diseño que se puede hacer*/
    padding: 2rem 0;
    border-radius: 1rem;
}
.meal-recipe-content p:not(.recipe-category){
    padding: 1rem 0 ;
}
/* DISEÑO SCROLLBAR : chrome/safari */
.meal-details::-webkit-scrollbar{
   width: 10px;
}
.meal-details::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 2rem;
}

/* JAVASCRIPT RELATED */
.showRecipe{
    display: block;
}
.meal-recipe-content{
    margin: 2rem;
}
.closeBtn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.5rem;
    background-color:white ;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.75;
}
.closeBtn:hover{
    opacity: 1;
}
.recipe-title{
    letter-spacing: 1px;
    padding-bottom:1rem;
}
.recipe-category{
    background-color: white;
    font-weight: 600;
    color:var(--basecolor);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}
.recipe-instructions{
    padding: 1rem 2rem;
}
.meal-recipe-image{
   width: 200px;
   height: 200px;
   display: inline-block;
}
#img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}
.recipe-link{
    margin: 1.4rem 0;
    color: white;
}
.recipe-link a{
    color:white ;
    font-size:1.2rem ;
    font-weight: 700;
    transition: all 0.4s linear;
    opacity: 0.8;
}
.recipe-link a:hover{
    opacity: 1;
}