@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: "Roboto","Ubuntu";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --basecolor:rgb(194,60,59);
    --hovercolor:rgb(161, 41, 41);
    --contrastcolor:rgb(108, 228, 144);
}
body{
    font-weight: 350;
    font-size: 1.05rem;
    line-height:1.06;
}
/* */
.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.06rem;
}
.title,.subtitle{
    font-size: 1.6rem;
    margin-bottom: 0.85rem;

}
/* */
.container{
    min-height: 100vh;
}
.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.meal-title{
    margin: 2rem 0;
}
.meal-title cite{
    font-size: 0.85rem;
}
.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}
.search-control,.searchBtn{
    width: 100%;
}
.search-control{
    padding: 0 1rem;
    font-size: 1.05rem;
    font-family: inherit;
    outline: 0;
    border:2px solid var(--basecolor);
    color: var(--basecolor);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.search-control::placeholder{
    color:var(--basecolor) ;
}
.searchBtn{
    width: 55px;
    height: 42px;
    font-size: 1.5rem;
    background: var(--basecolor);
    color: white;
    border: none;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: all 0.4s linear;
    -webkit-transition: linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.searchBtn:hover{
    background:var(--hovercolor);
}
.meal-search-result{
    margin-top: 4rem;
}
.meal-item{
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}
#image{
    width: 100%;
    display: block;
}
#name{
    margin: 0;
    padding: 1.6rem 0.5rem;
    font-size: 1.4rem;
}
#meals{
    margin: 2.4rem 0;
}
.recipeBtn{
   
    text-decoration: none;
    color: white;
    background: var(--basecolor) ;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
   margin: 1rem auto;
   border-radius: 2rem;
   transition:all 0.4s linear;
}
.recipeBtn:hover{
    background:  var(--hovercolor);
}
@media screen and (min-width:600px) {
    .meal-search-box{
        width:542px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width:768px) {
    #meals{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:2rem;
    }
    .meal-item{
        margin: 0;
    }
}
@media screen and (min-width:892px) {
    #meals{
     grid-template-columns: repeat(3,1fr);
    }
}